<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="smartrek.activities"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
   		<uses-library android:name="com.google.android.maps" />
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
       			  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".HomeActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"/>
       	<activity android:name=".MyCouponsActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".RegisterActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".Map_Activity"
        		  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".MapModeActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"/> 
        <activity android:name=".MapDisplayActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"/>   
        <activity android:name=".ConfirmTripActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"/> 
        <activity android:name=".ConfirmedMapActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ReservationActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ContactsActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>       		   
    </application>
</manifest>