<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metropia.activities"
    android:versionCode="22"
    android:versionName="0.15.88.0" >

    <!-- http://stackoverflow.com/questions/9629125/regarding-version-code-and-version-name-android-manifest -->

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-feature android:name="android.hardware.location" android:required="false" />
  	<uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <permission
        android:name=".permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.metropia.activities.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.metropia.activities" />

    <application
        android:name="com.metropia.SmarTrekApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/icon_logo"
        android:largeHeap="true" >
         
        <meta-data 
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <uses-library android:name="android.test.runner" />
        
        <meta-data
            android:name="CLOUDMADE_KEY"
            android:value="0645c6d9b7aa4ba297816678f0571833" />
        
        <meta-data android:name="LOCALYTICS_APP_KEY" android:value="9160916c09e4598cf6c2ebf-2940b25a-9a16-11e4-5186-00a426b17dd8"/>
        
        <!-- 
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
            -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:alwaysRetainTaskState="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".PreTripAlertActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/PopUpDialog"
		/>
        <activity
            android:name=".OnBoardActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name=".CheckLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask">
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:host="metropia.app" android:scheme="com.metropiamobile"/>
		    </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity2"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="google.navigation" />
		        <data android:scheme="geo"/>
		    </intent-filter>
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="http" android:host="maps.google.com" android:path="/maps"/>
		    </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteOperationActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".FavoriteListActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".UserRegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".RouteActivity"
            android:hardwareAccelerated="false"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="Select Route" />
        <activity
            android:name=".DebugOptionsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:label="Debug Options"
            android:logo="@android:color/transparent"
		/>
        <activity
            android:name=".MapDisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ValidationActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="navigate"
            android:launchMode="singleTask" />
        <activity
            android:name=".ValidationReportActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/congratulations" />
        
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".ShareActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ContactsSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".TermsAndPrivacyActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".TermOfUseActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".HelpOurResearchActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ReportProblemActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RewardsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebMyMetropiaActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyMetropiaActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".CongratulationActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id" />
        
        <activity
            android:name=".MyTripsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InBoxActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".PassengerActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask" />
        <activity
            android:name=".WebViewRegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />

        <receiver android:name="com.metropia.receivers.ReservationReceiver" />
        <receiver android:name="com.metropia.receivers.NotificationExpiry" />
        <receiver android:name="com.metropia.receivers.CalendarNotification" />
        <receiver android:name="com.metropia.receivers.CalendarNotificationPlan" />
        <receiver android:name="com.metropia.receivers.CalendarNotificationDelay" />
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.metropia.activities" />
            </intent-filter>
        </receiver>
        
        <receiver
   			android:name="com.localytics.android.PushReceiver"
   			android:permission="com.google.android.c2dm.permission.SEND" >
      		<intent-filter>
         		<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
         		<action android:name="com.google.android.c2dm.intent.RECEIVE" />               
         		<category android:name="com.metropia.activities" />
      		</intent-filter>
		</receiver>
		<receiver android:name="com.localytics.android.ReferralReceiver" android:exported="true">
      		<intent-filter>
        		<action android:name="com.android.vending.INSTALL_REFERRER" />
      		</intent-filter>
		</receiver>

        <service android:name=".GCMIntentService" />
        <service android:name="com.metropia.SendTrajectoryService" />
        <service android:name="com.metropia.CalendarService" />
        <service android:name="com.metropia.UserLocationService" />
        <service android:name="com.metropia.ContactListService" />
        <service android:name="com.metropia.TripService" />
        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService" />
	    <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver" android:exported="true">
	      <intent-filter>
	        <action android:name="android.intent.action.BOOT_COMPLETED" />  
	      </intent-filter>  
	    </receiver>
	    <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver" android:exported="true" />
	    
	    <meta-data android:name="com.crashlytics.ApiKey" android:value="c54daf6a152166f26009661410a7d68a29c070ee"/>
    </application>

</manifest>